*{
    margin:0;
}
.navbar{
    width:100%;
    height:100px;
    background-color: black;
}.navbar-container{
    display:flex;
    align-items: center;
    background-color: rgb(11, 11, 10);
    padding:0 50px;
    height:100%;
    color: white;
}
.logo-container{
    flex:1;
    background-color: rgb(10, 10, 10);
}
.logo{
    font-size: 50px;
    color:#bf6100;
}
.menu-container{
    flex:6;
    background-color: rgb(11, 11, 11);
}
.menu-list{
    display:flex;
    list-style: none;
}
.menu-list-item{
    margin-right: 60px;
    font-size: 40px;
}
.menu-list-items-active{
    font-weight: bold;
    font-size: 50px;
}    

.profile-container{
    flex:2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile-text-container{
    margin: 0 20px;
}
.toggle{
    width:40px;
    height:20px;
    background-color: white;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.toggle-icon{
    color:goldenrod;
    
}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right:1px;
    border-radius: 50%;
}
.profile-picture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
} 
.sidebar{
    width:50px;
    height:100%;
    background-color: black;
    position:fixed;
    top:0;
    display:flex;
    flex-direction: column;
    padding-top: 110px;
    align-items: center;
}
.left-menu-icon{
    color:white;
    font-size: 30px;
    margin-bottom:40px;

}
.container{
    background-color:black ;
    min-height:calc(100vh);
    
}
.content-container{
    color:white;
    margin-left: 50px;
}
.featured-content{
    height:50vh;
    padding: 50px;
}
.featured-title{
    width: 200px;
}
.featured-desc{
    width:500px;
    color:lightgrey;
    margin:30px 0;
}
.featured-button{
    background-color:#600cce ;
    color:white;
    padding:10 20px;
    border-radius: 10px;
}
.movie-list-container{
    padding:0 20px;
}
.movie-list-wrapper{
    position: relative;
    background: black;
}
/* .movie-list-title{
    font-size: 50px;
    font-weight: bold;
} */

.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
}
.movie-list-item{
    margin-right: 30px;
    position:relative;
}
.movie-list-item:hover .movie-list-item-img{
    transform:scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity:1;
}
.movie-list-item-img{
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
}

.movie-list-item-title{
    background-color: #333;
    padding:0 10px;
    font-size: 30px;
    font-weight: bold;
    position:absolute;
    top: -5%;
    left: 50px;
    opacity:0;
    transition:1s all ease-in-out;
    
}
.movie-list-item-desc{
    background-color: #333;
    padding:0 10px;
    font-size: 14px;
    font-weight: bold;
    position:absolute;
    top: 10%;
    left: 50px;
    width: 230px;
    opacity:0;
    transition:1s all ease-in-out;
    
}
.movie-list-item-button{
    padding: 10px;
    background-color: #bf6100;
    color:white;
    border-radius: 10px;
    outline:none;
    border:none;
    cursor:pointer;
    position:absolute;
    bottom:10px;
    left: 50px;
    opacity:0;
    transition:1s all ease-in-out;
}
.arrow{
    font-size: 120px;
    position: absolute;
    top:90px;
    right:0;
    color:lightgrey;
    opacity: 0.5;
    cursor: pointer;
}
@media only screen and (max-width:940px){
    .menu-container{
        display: none;
    }
}